name: build

on:
  push:
  workflow_dispatch:

jobs:
  clj-kondo:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Install Clojure tools
      uses: DeLaGuardo/setup-clojure@11.0
      with:
        cli: 1.11.1.1208
    - uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: cljdeps-lint-${{ hashFiles('deps.edn') }}
        restore-keys: cljdeps-lint-
    - run: clojure -M:clj-kondo --debug --lint src:test

  eastwood:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Install Clojure tools
      uses: DeLaGuardo/setup-clojure@11.0
      with:
        cli: 1.11.1.1208
    - uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: cljdeps-lint-${{ hashFiles('deps.edn') }}
        restore-keys: cljdeps-lint-
    - run: clojure -M:eastwood

  kibit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Install Clojure tools
      uses: DeLaGuardo/setup-clojure@11.0
      with:
        cli: 1.11.1.1208
    - uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: cljdeps-lint-${{ hashFiles('deps.edn') }}
        restore-keys: cljdeps-lint-
    - run: clojure -M:kibit

  test-clj:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Install Clojure tools
      uses: DeLaGuardo/setup-clojure@11.0
      with:
        cli: 1.11.1.1208
    - uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
          ~/.deps.clj
        key: cljdeps-test-${{ hashFiles('deps.edn') }}
        restore-keys: cljdeps-test-
    - run: clojure -X:kibit

  test-cljs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: npm install -g shadow-cljs
    - run: shadow-cljs compile test
    - run: node target/cljs-test.js

  cloverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Install Clojure tools
      uses: DeLaGuardo/setup-clojure@11.0
      with:
        cli: 1.11.1.1208
    - name: Cloverage
      run: clojure -M:cloverage
    - name: Upload to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: target/coverage/codecov.json
